a:hover {
    color: #FBB13C!important;
}
button img {
    max-width: 25px;
    height: auto;
}
#gameAlertsDiv {
    display: none;
}
#gameInfoDiv {
    display: none;
}
#matchWinnerDiv {
    display: none;
}